.answer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.expand-button {
    background-image: linear-gradient(to bottom, #ccffff, #ffffcc);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
    border-width: 4px;
    margin: 5px;
}