@import "/pages/index.css";
@import "/pages/results/results.css";
@import "/pages/create/create.css";
@import "/pages/answer/answer.css";
:root {
  --main-lg-color:  linear-gradient(to right, #ccffff, #ffffcc);
  --main-padding:  10px 20px;
  --main-margin:  20px 10px;
  --main-font-size:  34px;
  --main-shadow-box : 0 2px 4px rgba(0, 0, 0, 0.3);
  --main-border-radius : 5px;
}

html, body {
  background-image: var(--main-lg-color);
  width: 100%; height: 100%; 
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #pagination {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: var(--main-margin);
    flex-wrap: wrap;
  }
  
  .pagination-item {
    display: block;
    margin: var(--main-margin);
    font-size:  var(--main-font-size);
    text-decoration: none;
    color: #666666;
  }
  
  .pagination-item:hover,
  .pagination-item.active {
    color: #0c0fd1; 
  }
  
