#header {
  align-items: center;
  flex-direction: column;
  justify-items: center;
  padding: var( --main-padding);
  align-self: center;
  display: flex;
}


#survey-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }

  #create-survey, #sort-by {
    background-image: var(--main-lg-color);
    padding: var( --main-padding);
    border-radius: var(--main-border-radius);
    font-size:  var(--main-font-size) / 2;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
    border-width: 4px;
    margin: var(--main-margin);
  }

  table, th, td {
    border:1px solid black;
  }

  .survey {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(40% - 10px); 
    min-width: 300px;
    margin: var(--main-margin);
    padding: var( --main-padding);
    background-image: var(--main-lg-color);
    transition: 0.3s; 
    border-radius: var(--main-border-radius) * 5;
    border: 1px solid #333;

  }

  .survey-name {
    align-self: center;
    font-size: var(--main-font-size) / 1.5;
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  .survey-info {
    align-self: center;
    font-size:  var(--main-font-size) / 2;
    font-style: italic;
    color: #666666;
  }

  .delete-button, .answer-button, .results-button {
    margin: var(--main-margin) ;
    border: none; 
    background-color: #0fd9e0; 
    color: #ffffff; 
    padding:var(--main-padding) ; 
    font-size: var(--main-font-size) / 2;
    cursor: pointer; 
    transition: 0.3s; 
  }
  
  .delete-button:hover, .answer-button:hover,  .results-button:hover{
    background-color: #2a93b8; 
  }

