
  #create-survey-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form#create-survey-form label,
  form#create-survey-form input
   {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #333;
  }

  #questions-container {
    padding: 20px;
  }

  .question {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  .question:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .question.open .label {
    color: blue;
  }

  #add-question-button, #create-question-button, .create-answers-button,   #question-type-selector, .question-insert-button{
    background-image: linear-gradient(to bottom, #ccffff, #ffffcc);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
    border-width: 4px;
    margin: 5px;
  }

